.careers-hero-section {
  background-image: url("../../public/images/careers.webp");
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.careers-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 38, 40, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.careers-title {
  font-size: 2rem;
  font-weight: bold;
  color: #19258b;
  margin-bottom: 15px;
}

.careers-description {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}
