/* Clients Section Styles */
.clients-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #262628; /* Dark background color to match the palette */
  color: #ffffff; /* White text color */
}

.clients-section-title {
  font-size: 1.8rem;
  color: #ffffff; /* White color for the title */
  margin-bottom: 1.5rem;
}

.clients-slide {
  padding: 20px;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns per row */
  grid-template-rows: repeat(3, auto); /* 3 rows */
  gap: 10px;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.client-logo img {
  max-width: 100%;
  height: auto;
  display: block;
  background-color: transparent; /* No background color around logos */
  filter: grayscale(100%); /* Apply black and white filter */
  box-shadow: none; /* Remove any shadow around logos */
  border-radius: 0; /* No border radius */
}
.client-logo img:hover {
  filter: grayscale(0%); /* Apply black and white filter */
}

/* Slick Carousel custom styles for arrows */
.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
  background-color: transparent; /* Transparent background to match the example */
  border: none; /* No border */
  color: #ffffff; /* White color for the arrow */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none; /* Remove any box shadow */
}

.slick-prev:before,
.slick-next:before {
  color: #ffffff; /* White color for arrows */
  font-size: 24px;
  content: ''; /* Override the default content */
  display: block;
}

.slick-prev:before {
  content: ''; /* Left arrow */
}

.slick-next:before {
  content: ''; /* Right arrow */
}

@media (min-width: 769px) {
  .slick-prev {
    left: 0;
  }
  
  .slick-next {
    right: 0;
  }
}


/* Light gray color for dots */
.slick-dots li button:before {
  font-size: 12px;
  color: #cccccc; /* Light gray color for dots */
}

.slick-dots li.slick-active button:before {
  color: #ffffff; /* White color for the active dot */
}