.clients-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #262628;
  color: #f3f3f5;
}

.clients-section-title {
  font-size: 1.75rem;
  color: #f3f3f5;
  margin-bottom: 3.25rem;
  font-weight: bold;
}

.clients-slide {
  padding: 20px;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.client-logo img {
  width: 20dvw;
  height: 20dvh;
  display: block;
  background-color: transparent;
  filter: grayscale(100%);
  box-shadow: none;
  border-radius: 0;
  object-fit: contain;
  /* Ensure the image covers the entire area without stretching */
  display: block;
  /* Removes any inline spacing issues */
}

.client-logo img:hover {
  filter: grayscale(0%);
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
  background-color: transparent;
  border: none;
  color: #f3f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.slick-prev:before,
.slick-next:before {
  color: #f3f3f5;
  font-size: 24px;
  content: "";
  display: block;
}

.slick-prev:before {
  content: "";
}

.slick-next:before {
  content: "";
}

@media (min-width: 769px) {
  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }
}
