.contact-body {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f5;
  padding: 40px;
  z-index: 2;
  position: relative;
}

.contact-left {
  flex: 1;
  padding: 20px;
  max-width: 45%;
  text-align: left;
}
#contact-us-first-text {
  margin-bottom: 2rem;
}

.contact-left h2 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #262628;
  margin-bottom: 1.5rem;
}

.contact-left p {
  font-size: 1.15rem;
  color: #262628;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #f3f3f5;
  background-color: transparent;
  outline: none;
}

textarea {
  resize: none;
  height: 100px;
}

.contact-right {
  flex: 1;
  background-color: rgba(38, 38, 40, 0.95);
  color: #f3f3f5;
  padding: 80px 50px;
  max-width: 40%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f3f3f5;
  text-align: left;
}

.location h3 {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  text-align: left;
}

.location p {
  font-size: 0.9rem;
  margin: 5px 0;
  text-align: center;
  text-align: left;
}

.phone-link,
.location-link {
  text-decoration: none;
  color: #f3f3f5;
}

@media (max-width: 768px) {
  .contact-body {
    flex-direction: column;
  }

  .contact-left,
  .contact-right {
    max-width: 100%;
    margin: 0;
    padding: 20px;
  }

  .contact-right {
    margin-top: 20px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group.double {
  flex-direction: row;
  justify-content: space-between;
}

.form-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

label {
  font-size: 0.9rem;
  color: #262628;
  margin-bottom: 5px;
  font-weight: bold;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid #19258b;
}

textarea {
  resize: none;
  height: 100px;
}

.character-count {
  font-size: 0.8rem;
  color: #262628;
  margin-top: 5px;
}

.contact-form-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #262628;
  color: #f3f3f5;
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;
  align-self: flex-start;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.contact-form-button:hover {
  background-color: rgba(243, 243, 245, 1);
  color: rgba(38, 38, 40, 0.8);
  border: 2px solid #262628;
}

@media (max-width: 768px) {
  .contact-body {
    flex-direction: column;
  }

  .contact-left {
    max-width: 100%;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .contact-right {
    margin-top: -7rem;
  }
}

.contact-form-div {
  flex: 1;
  padding: 20px;
  text-align: left;
  color: #f3f3f5;
}

.contact-left h2,
.contact-left p,
.contact-form-div {
  position: relative;
  z-index: 2;
}

.contact-form-button {
  padding: 10px 30px;
  background-color: rgba(38, 38, 40, 0.8);
  color: #f3f3f5;
  border: 1px solid transparent;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(38, 38, 40, 0.1);
}
