.featured-projects {
  padding: 40px 50px;
  text-align: center;
  background-color: #f3f3f5; /* Adjust background as per your design */
}

.featured-projects__title {
  font-size: 2rem;
  color: #19258b; /* Adjust to the same color as 'Featured Projects' text */
  margin-bottom: 4rem;
}

.project-card {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(38, 38, 40, 0.1);
  background-color: #f3f3f5;
  margin: 0 10px; /* Adds margin between cards to create space for half of the next card */
  display: flex;
  flex-direction: column;
  height: 800px; /* Make the card taller */
  max-width: 80%; /* Make the card slimmer */
  padding: 0px !important;
}

.project-card__image {
  width: 100%;
  height: 75%; /* Takes 3/4th of the card's height */
  object-fit: cover;
}

.project-card__title {
  height: 25%; /* Takes 1/4th of the card's height */
  padding: 10px;
  font-size: 16px;
  color: #262628;
  display: flex;
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
  background-color: #f3f3f5; /* Optional: a light background to distinguish the text area */
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 24px;
  color: #19258b; /* Adjust the arrow color */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(243, 243, 245, 0.8); /* Background color for the arrow button */
  box-shadow: 0 0 5px rgba(38, 38, 40, 0.5); /* Adds a shadow to make the arrow visible */
}

.next-arrow {
  right: 10px;
}

.prev-arrow {
  left: 10px;
}
@media (max-width: 480px) {
  .featured-projects {
    padding: 40px 15px;
  }
}