.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(26, 26, 28, 0.95);
  padding: 10px 20px;
  color: #f3f3f5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-logo .logo {
  max-height: 55px;
  width: auto;
  margin-left: 20px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list a {
  color: #f3f3f5;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
  background-color: #262628;
}

.menu-item {
  color: #f3f3f5;
  padding: 0.5em 0;
  text-decoration: none;
  text-align: left;
}

.menu-item:hover {
  border-radius: 10px;
}

.close-button {
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  border: none;
  outline: none;
  font-family: "Arial", sans-serif;
  transition: opacity 0.3s ease;
}

.close-button:hover {
  opacity: 0.7;
}

.social-media-icons ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin: 30px 0;
}

.social-icon {
  color: #fff !important;
  font-size: 1.2rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #1da1f2;
}

.menu-logo {
  margin-top: 40px;
  text-align: left;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 1rem;
}

.menu-company-logo {
  max-height: 60px;
  width: auto;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
  z-index: 2001;
}

.bm-burger-bars {
  background: #f3f3f5;
}

.bm-burger-bars-hover {
  background: #ddd;
}

.bm-menu {
  background: #333;
  padding-top: 5rem;
  padding-left: 1.5em;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}

@media (min-width: 769px) {
  .bm-burger-button {
    display: none;
  }
}