.main-services-section {
  background-image: url("../../public/images/services2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
}

.main-services-section-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f3f3f5;
  z-index: 2;
}

.main-services-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
