/* MainProjectSection.css */

.main-project-section {
  background-image: url("../../public/images/projects1.webp");
  background-size: cover; /* Ensure the image covers the whole section */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  height: 45vh; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
}

.main-project-section-heading {
  font-size: 1.75rem;
  font-weight: bold;
  color: #f3f3f5; /* Dark blue color */
  z-index: 2; /* Ensure the text is above the background */
}

.main-project-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 38, 40, 0.6);
  z-index: 1;
}
