/* ProjectsSection.css */

.projects-section {
  background-color: #f3f3f5;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e0e0e0; /* Gray background for filters */
  padding: 0 10px;
  border-radius: 5px; /* Optional: Rounded corners for the filter bar */
  font-size: 1.15rem;
}

.filter-button {
  background-color: transparent; /* No background color */
  border: none; /* No border */
  color: #262628; /* Black text color */
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button.active {
  background-color: #f3f3f5; /* White background on hover */
  color: #19258b; /* Midnight blue text on hover */
  border-radius: 10px; /* Optional: Keep the rounded corners */
}
/* Hover effect for filter buttons */
.filter-button:hover {
  background-color: #f3f3f5; /* White background on hover */
  color: #19258b; /* Midnight blue text on hover */
  border-radius: 10px;
}

.arrow-down {
  font-size: 1rem;
  margin-left: 5px;
  color: #19258b; /* Or whatever color fits your theme */
}

.secondary-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e0e0e0; /* Gray background for filters */
  padding: 0 10px;
  border-radius: 5px; /* Optional: Rounded corners for the filter bar */
  font-size: 1.15rem;
}

.mb-60 {
  margin-bottom: 3.75rem !important;
}

.secondary-filter-button {
  background-color: transparent; /* No background color */
  border: none; /* No border */
  color: #262628; /* Black text color */
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.secondary-filter-button.active {
  background-color: #f3f3f5; /* White background on hover */
  color: #19258b; /* Midnight blue text on hover */
  border-radius: 10px; /* Optional: Keep the rounded corners */
}
/* Hover effect for filter buttons */
.secondary-filter-button:hover {
  background-color: #f3f3f5; /* White background on hover */
  color: #19258b; /* Midnight blue text on hover */
  border-radius: 10px;
}

.projects-grid {
  background-color: #f3f3f5;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 15px;
  justify-items: center;
  width: 70%; /* Limit the grid width to 80% of the container */
  max-width: 1200px; /* Optional: Set a maximum width */
  margin: 0 auto; /* Center the grid within the container */
}

.project-card {
  background-color: #f3f3f5;
  border: 1px solid #f3f3f5;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 100%; /* Make the card take the full width within the grid item */
  height: 50vh; /* Further increased height for longer cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.project-card:hover {
  box-shadow: 0 4px 15px rgba(38, 38, 40, 0.1); /* Light gray shadow on hover */
  transform: scale(1.05); /* Scale up by 10% */
  transition: transform 0.4s ease, box-shadow 0.4s ease; /* Smooth scaling and shadow transition */
}

.projects-image {
  width: 100%;
  height: 350px; /* Further increased height for a longer card */
  object-fit: cover;
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-name {
  font-size: 1rem;
  font-weight: bold;
  color: #262628; /* Dark gray */
  margin-bottom: 5px;
}

.project-location {
  font-size: 0.9rem;
  color: #262628; /* Lighter gray */
}

.load-more {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 2rem;
}

.load-more-button {
  background-color: #19258b !important;
  color: #f3f3f5;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 30px; /* Adjust padding for desired size */
  border: 0px solid #262628; /* Create a border to replicate the outline */
  border-radius: 50px; /* Full rounded corners */
  background-color: transparent; /* No background to match the second button */
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease; /* Smooth transitions */
}

.load-more-button:hover {
  color: #19258b; /* Darker blue on hover */
  background-color: #f3f3f5 !important; /* Darker blue on hover */
  border: 1px solid #426ba8;
  transition: background-color 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .projects-grid {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* 1 card per row on very small screens */
  }
}

/* For the filter section */
.filters {
  display: inline-block;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Ensure the filters stay in one line */
  padding: 10px;
  background-color: #e0e0e0; /* Gray background for filters */
  border-radius: 5px;
  scrollbar-width: thin; /* Make scrollbar thinner (Firefox) */
  width: 100%;
}

.filter-button {
  display: inline-block; /* Inline block so buttons stay in one row */
  background-color: transparent;
  border: none;
  color: #262628;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap; /* Prevent text from breaking to the next line */
}

.filter-button.active {
  background-color: #f3f3f5;
  color: #19258b;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .filters {
    overflow-x: auto; /* Enable horizontal scroll on mobile */
    justify-content: flex-start; /* Align filters to the left */
  }
}

.filters::-webkit-scrollbar {
  height: 6px; /* Scrollbar height */
}

.filters::-webkit-scrollbar-thumb {
  background-color: #262628; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
}

.filters::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Color on hover */
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the page numbers */
  margin: 3.5rem 1rem;
  list-style-type: none;
  padding: 0;
}

.pagination-link {
  background-color: #64686c; /* Gray background */
  color: #fff; /* White text color */
  border: none; /* Remove border */
  padding: 12px; /* Equal padding for a more circular shape */
  font-size: 1rem; /* Font size for consistency */
  font-weight: normal; /* Regular text weight for non-active buttons */
  border-radius: 50%; /* Full circle */
  width: 45px; /* Fixed width for a perfect circle */
  height: 45px; /* Fixed height for a perfect circle */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  cursor: pointer; /* Pointer cursor on hover */
  margin: 0 8px; /* Space between pagination items */
  transition: all 0.3s ease; /* Smooth transition for hover */
  text-align: center;
  display: flex; /* Flexbox to center the text */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  text-decoration: none; /* Remove underline */
}

.pagination-link:hover {
  background-color: #505357; /* Darker shade on hover */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
  transform: translateY(-3px); /* Lift effect on hover */
}

.pagination-active .pagination-link {
  background-color: #19258b; /* Active button background (midnight blue) */
  color: #fff; /* Keep text white */
  font-weight: bold; /* Bold text for the active page */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Strong shadow for active state */
}

.pagination-disabled .pagination-link {
  background-color: #b0b0b0; /* Gray color for disabled state */
  color: #fff; /* White text for disabled */
  opacity: 0.6; /* Slightly faded */
  cursor: not-allowed; /* Disabled cursor */
}

.page-number {
  font-size: 1.15rem; /* Slightly larger font size for numbers */
  margin: 0 0.5rem; /* Spacing around the page numbers */
  color: #262628; /* Dark gray for page numbers */
  text-decoration: none;
}

.page-number-active {
  font-weight: bold; /* Bold for the active page number */
  color: #19258b; /* Midnight blue for active page number */
  font-size: 1.25rem; /* Slightly larger font size for numbers */
}
