.padding-bottom-120 {
  padding-bottom: 120px;
}

.services-section {
  position: relative;
  padding: 40px 0px;
  background-color: #f3f3f5;
  z-index: 1;
}

.section-header {
  text-align: center;
  margin-bottom: 30px;
}

.section-header h3 {
  font-size: 1.75rem;
  margin-bottom: 20px;
  color: #000;
}

.section-header p {
  font-size: 1.15rem;
  color: #262628;
}

.superscript {
  font-size: 0.6em;
  vertical-align: super;
}

.services-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  z-index: 10;
  margin-bottom: -6.5rem;
  flex-wrap: wrap;
}

.service-card {
  background-color: #f3f3f3;
  border-radius: 12px;
  padding: 30px;
  margin: 0;
  width: 220px;
  height: 220px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(38, 38, 40, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-icon {
  color: #19258b;
  margin-bottom: 15px;
  max-width: 45%;
  align-items: center;
}

.statistics-section {
  position: relative;
  background-image: url("../../public/images/home6.webp");
  background-size: cover;
  background-position: center;
  color: #f3f3f5;
  padding: 120px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 0;
  height: 75vh;
}
.statistics-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.65);
  z-index: 1;
  pointer-events: none;
}

.statistics-section > * {
  position: relative;
  z-index: 2;
}
.statistics-text {
  max-width: 450px;
  text-align: left;
}

.statistics-text h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0;
}

.statistics-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.stat-item {
  margin: 10px;
  font-size: 1.15rem;
  text-align: start;
  padding-right: 50px;
}

.stat-item h1 {
  font-size: 5rem;
  line-height: 1.2;
}

.stat-item h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.experience-box {
  background-color: transparent;
  border: 10px solid #f3f3f5;
  padding: 30px;
  text-align: center;
}

.experience-box h1 {
  font-size: 5rem;
  margin: 0;
}

.experience-box p {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 700;
}

@media (max-width: 768px) {
  .services-cards {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .service-card {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .service-icon {
    font-size: 2.5rem;
  }

  .stat-item h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
  }

  .statistics-info {
    flex-direction: column;
    align-items: center;
  }

  .stat-item {
    margin: 10px 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
  .statistics-section {
    height: 100%;
  }
}

@media (max-width: 480px) {
  .service-card {
    width: 70%;
  }

  .section-header h1 {
    font-size: 1rem;
  }

  .section-header p {
    font-size: 1rem;
  }
}
